{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<style>
    .sticky-offset{
        top:calc(50vh - 100px);
    }
</style>
    <div class="content">
        <div class="container-fluid d-sm-flex" style="padding-top: 30px; margin-top: 56px; padding-right: 50px;">
            <div class="container-fluid" style="max-width: 150px;">
                <nav class="nav flex-column sticky-top sticky-offset">
                    <a class="nav-link" href="#introduction">Introduction</a>
                    <a class="nav-link" href="#data_model">Data Model</a>
                    <a class="nav-link" href="#web_scrap">Web Scrap</a>
                    <a class="nav-link" href="#work">How it works</a>
                    <a class="nav-link" href="#links">Links</a>
                </nav>
            </div>
            
            <div class="container-fluid" id="introduction">
                <h1 class="text-center">Online Game Project</h1>

                <div class="container-fluid">
                    <h3>Introduction</h3>
                    <p>Game developers and publishers often check the reviews of their game to get information whether the game they published are doing great or not. Thus, they need data of the game reviews to be stored so it can be analyzed and answer the following questions:</p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">Average rating for each game</li>
                        <li class="list-group-item">Average feedback for games made by X developer</li>
                        <li class="list-group-item">Total players that gave feedback in a specific month for each game</li>
                    </ol>
                    <br>
                    <p>However, the data used in this project is limited as the web scrap code is not the best there is and can still be improved. The tools used are Flask + SQLAlchemy, MySQL, BeautifulSoup, Bootstrap, and Visual Paradigm for the diagram.</p>
                </div>
                <br id="data_model"><br>

                <div class="container-fluid">
                    <h3>Data Model</h3>
                    <img src="/static/data_model.jpg" class="img-fluid mx-auto">
                    <br>
                    <p>The data model is based on snowflake schema because it require less space and has no redundant data. Additionally, since there are only 7 tables in the schema, there should be no problem regarding the complexity.</p>

                    <p>The dimension tables are used to store context for the fact table. Using the snowflake schema, the dimension tables are:</p>

                    <ul class="list-group">
                        <li class="list-group-item">game_DIM that has one developer in developer_DIM and can have many categories by connecting it to the category_DIM using game_category_BR bridge table. Each game has to at least connected to one category.</li>
                        <li class="list-group-item">category_DIM is connected to game_DIM via BR table. One category has to be at least be a child to one game.</li>
                        <li class="list-group-item">developer_DIM contains information of the game developer that can create multiple games. Since the developer id was not attached in the game page, the id in here is generated by db to act as a fake natural key (replacement for real developer id natural key).</li>
                        <li class="list-group-item">date_DIM that contains date information for each day.</li>
                        <li class="list-group-item">user_DIM that contains information regarding the user that gives the reviews. The user id natural key cannot also be found in the review page, thus it will be replaced by id generated by the code. The generated id is intended to act like real natural key.</li>
                    </ul>
                    <br>
                    <p>The game_DIM table is still categorized as dimensional table even though it contains date because the date is treated as a metadata for when the game was released.</p>

                    <p>The only fact table in the model is review_fact. The table contains keys to the corresponding game, user, and date the review was posted, the rating (0 = not recommended, 1 = recommended), the review content (comments), and current column (0 = old review, 1 = current review) as player can update their review to be different for each day.</p>

                    <p>time_created and time_updated are intended for ETL purpose such as the last time the table was updated. Those columns' types are written as timestamp even though it should be datetime because there was no datetime datatype in Visual Paradigm. The key are referring to the surrogate key generated by GUID class (https://gist.github.com/gmolveau/7caeeefe637679005a7bb9ae1b5e421e credit: gmolveau)</p>
                </div>
                <br id="web_scrap"><br>

                <div class="container-fluid">
                    <h3>Web Scrap</h3>
                    <p>The data for this project is scrapped from steam (https://store.steampowered.com/) using BeautifulSoup. The pages taken are the game pages and the review community hub page for each game. For the game page, the taken data are the game itself, categories, and the developer. For the review community hub page, the data taken are the review itself (only the first review page with most recent filter) and the user data. Thus, the limitation are:</p>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Generating a lot of review data is difficult. The scrap command has to run several times to get a lot of reviews.
                        </li>
                        <li class="list-group-item">
                            Developer id and user id cannot be obtained using the current code as it does not include a crawler that can go to the developer and user link to get the id's. Yes, both information are not available in the game page and the review community hub page. 
                        </li>
                    </ul>
                    <br>
                    <p>Nevertheless, the data model can still serve its purpose.</p>
                </div>
                <br id="work"><br>

                <div class="container-fluid">
                    <h3>How it works</h3>
                    <h5>Initialize database</h5>
                    <p>The database is first initialized. It can be done by using the command such as db.create_all() in the python command. Please note that, the database used in this project is MySQL.</p>

                    <h5>Time table</h5>
                    <p>First the time table data is imported from .csv file by using pandas and insert it into MySQL database. The insertion is done per row. The current date used in this project (28 October 2021) only contains October 2021 dates only. However, it is possible to increase the date range by importing a .csv table that has more time range. The .csv can be imported by using the init_date(.csv file path) function in the app.py file.</p>

                    <h5>Game and review</h5>
                    <p>For the game and review tables, it can be inserted using creating GameScrapper object called game_scrapper and add_game() function in the app.py file. A steam game page link then can be inserted into the command line. The game scrapper then scrap the steam game and the game community hub review pages to retrieve the game, developer, category, user, and the review information.</p>
                    <img src="/static/game_scrap.png" class="img-fluid mx-auto">
                    <br>
                    <img src="/static/input.png" class="img-fluid mx-auto">
                    <br><br>
                    <p>The retrieved data are then validated to see if the row already exists by using the key. And then a model will be created and inserted into the database. For the review data, another validation will be done before inserting the data to check whether another review on the same game has been written before by the same user. If yes, change the current status of the older reviews into 0 (not current review) and add the newest review with current 1 (current review). This will enable the data analyst to see whether players change their mind after a certain time (before - after update) or not. However, please note that since the date_key is based on a single day, it means there could only be one review for one day and the current system does not support overwrite for the review (same game_key and player_key) on the same date. It will only apply append row if the review is from different day.</p>

                    <h5>Running the website</h5>
                    <p>After initializing and adding data into the databse, make sure to add app.run(debug=True) command in the app.py file. The file then can be run by typing py app.py in the command line.</p>

                    <h5>Example files</h5>
                    <p>Example files such as the sql data and the date fill can be found inside the project files. It can be used as testing purpose.</p>
                </div>
                <br id="links"><br>

                <div class="container-fluid">
                    <h3>Link</h3>
                    <p>To know more about the author of this project and the github page, you can click the buttons below:</p>
                    <button type="button" class="btn btn-primary" onclick="window.open('https://linkedin.com/in/gabriella-ryanie-setiawan-5893b3224','_blank')">Linked in</button>
                    <button type="button" class="btn btn-dark" style="background-color: blueviolet;" onclick="window.open('https://github.com/Aeroban/online-game-pro.git', '_blank')">Github</button>
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock%}